 @model IEnumerable<NATCABOSede.Models.KpisHistorico>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = " KPIS Histórico";
}

<div class="container mt-5">
    <h1 class="text-center">Histórico de KPIs</h1>

    <!-- Panel de control -->
    <div class="card shadow-sm p-4 mb-4">
        <form id="filtro-form" class="row g-3">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="lineaSeleccionada" class="form-label">Selecciona una Línea:</label>
                    <select id="lineaSeleccionada" name="lineaSeleccionada" class="form-select">
                        @if (ViewBag.LineasDisponibles != null)
                        {
                            foreach (var linea in ViewBag.LineasDisponibles)
                            {
                                <option value="@linea.LineaId" @(ViewBag.LineaSeleccionada == linea.LineaId ? "selected" : "")>
                                    @linea.NombreLinea
                                </option>
                            }
                        }
                        <option value="" disabled selected>Cargando líneas...</option>
                    </select>
               
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="confeccionSeleccionada" class="form-label">Selecciona una Confección:</label>
                    <select id="confeccionSeleccionada" name="confeccionSeleccionada" class="form-select">
                        <option value="" disabled selected>Cargando confecciones...</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <label for="desde" class="form-label">Desde</label>
                <input type="date" class="form-control" id="desde" name="desde">
            </div>
            <div class="col-md-3">
                <label for="hasta" class="form-label">Hasta</label>
                <input type="date" class="form-control" id="hasta" name="hasta">
            </div>
            <div class="col-12 text-center">
                <button type="button" id="btn-filtrar" class="btn btn-primary mt-3">Filtrar</button>
            </div>
        </form>
    </div>

    <button id="btn-export-excel" class="btn btn-success mt-3" disabled title="Primero realice un filtro para habilitar la descarga">
        <i class="fa-solid fa-file-excel"></i> Exportar a Excel
    </button>

    <!-- Tabla -->
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th class="numeric">Fecha Lote</th>
                    <th>Línea</th>
                    <!--th>Lote</th>-->
                    <th>Confección</th>
                    <th class="numeric">PPM</th>
                    <th class="numeric">PM Marco</th>
                    <th class="numeric">PM Bizerba</th>
                    <th class="numeric">Extrapeso (Kg)</th>
                    <th class="numeric">Desecho (Kg)</th>
                    <th class="numeric">Desecho (%)</th>
                    <th class="numeric">FTT</th>
                    <th class="numeric">MOD</th>
                </tr>
            </thead>
                <tbody id="tabla-historico">
                    <!-- Inicialmente vacío -->
                <tr>
                    <td colspan="12" class="text-center">Por favor, realice un filtrado de datos para mostrar resultados</td>
                </tr>
              
                </tbody>
        </table>
      </div>
    <!-- Paginación -->
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            @if (ViewBag.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(@(ViewBag.Page - 1))">Anterior</a>
                </li>
            }
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                    <a class="page-link" href="#" onclick="loadPage(@i)">@i</a>
                </li>
            }
            @if (ViewBag.Page < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(@(ViewBag.Page + 1))">Siguiente</a>
                </li>
            }
        </ul>
    </nav>


    <!-- Selector de KPI -->
    <div class="row mt-4">
        <div class="col-md-3">
            <label for="kpiSelect" class="form-label">Seleccione el KPI:</label>
            <select id="kpiSelect" class="form-select">
                <option value="ppM_Marco">KPI PPM</option>
                <option value="pM_Marco">KPI PM</option>
                <option value="extrapeso_Marco">KPI Extrapeso</option>
            </select>
        </div>
    </div>

    <!-- Gráfico -->
    <div class="row mt-4">
        <div class="col-md-12">
            <canvas id="graficoKPIs"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.appSettings = {
            obtenerLineasHistoricoUrlAction: '@Url.Action("ObtenerLineasHistorico", "Historico", new { area = "KPIS" })',
            obtenerConfeccionesHistoricoUrlAction: '@Url.Action("ObtenerConfeccionesHistorico", "Historico", new { area = "KPIS" })'
        };
    </script>

    <script src="~/js/HistoricoKPIs.js"></script>

}
