@* @model NATCABOSede.ViewModels.ConfigurarObjetivosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Objetivos";
}
<link rel="stylesheet" href="~/css/pages/Objetivos.css" />

<div class="container mt-4">
    <h3 class="mb-3">Configuración de objetivos</h3>

    <!-- Form único para TODAS las confecciones -->
    <form action="/KPIS/ConfigurarObjetivos/ObjetivosConfigurables" method="post">
        <input type="hidden" name="__RequestVerificationToken" />

        <table class="table-custom" border="1">
           <thead>
            <tr class="table-custom thead">
                <th>Código</th>
                <th>Confección</th>
                <th>% Operarios periféricos</th>
                <th>PPM Objetivo</th>
                <th>MOD Objetivo</th>
                <th>% FTT Objetivo</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Confecciones.Count; i++)
            {
                   
                var c = Model.Confecciones[i];
                <tr>
                    <td>
                        @c.SCode
                        <input type="hidden" name="Confecciones[@i].SCode" value="@c.SCode" />
                    </td>
                    <td>
                        @c.SName
                        <input type="hidden" name="Confecciones[@i].SName" value="@c.SName" />
                    </td>
                    <td>
                        <input type="text" name="Confecciones[@i].PercExtraOper" value="@c.PercExtraOper" />
                    </td>
                    <td>
                        <input type="text" name="Confecciones[@i].PpmObj" value="@c.PpmObj" />
                    </td>
                    <td>
                        <input type="text" name="Confecciones[@i].ModObj" value="@c.ModObj" />
                    </td>
                    <td>
                        <input type="text" name="Confecciones[@i].FttObj" value="@c.FttObj" />
                    </td>
                </tr>
               
            }
            </tbody>
        </table>

        <button type="submit">Guardar todo</button>
    </form>
</div>
 *@

                    @model NATCABOSede.ViewModels.ConfigurarObjetivosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Objetivos";
}
<link rel="stylesheet" href="~/css/pages/Objetivos.css" />

<div class="container mt-4">
    <h3 class="mb-3">Configuración de objetivos</h3>

    <!-- Form único para TODAS las confecciones -->
    <form action="/KPIS/ConfigurarObjetivos/ObjetivosConfigurables" method="post">
        <!-- Token antifalsificación -->
        @Html.AntiForgeryToken()
       @*  <input type="hidden" name="__RequestVerificationToken" value="@AntiforgeryTokenValue()" /> *@

        <table class="table-custom">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Confección</th>
                    <th>% Operarios periféricos</th>
                    <th>PPM Objetivo</th>
                    <th>MOD Objetivo</th>
                    <th>% FTT Objetivo</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Confecciones.Count; i++)
                {
                    var c = Model.Confecciones[i];
                    <tr>
                        <td>
                            @c.SCode
                            <input type="hidden" name="Confecciones[@i].SCode" value="@c.SCode" />
                        </td>
                        <td>
                            @c.SName
                            <input type="hidden" name="Confecciones[@i].SName" value="@c.SName" />
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   name="Confecciones[@i].PercExtraOper"
                                   value="@c.PercExtraOper" />
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   name="Confecciones[@i].PpmObj"
                                   value="@c.PpmObj" />
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   name="Confecciones[@i].ModObj"
                                   value="@c.ModObj" />
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   name="Confecciones[@i].FttObj"
                                   value="@c.FttObj" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-3 text-center">
            <button type="submit" class="btn btn-save">
                <i class="fas fa-save"></i> Guardar todo
            </button>
        </div>
    </form>
</div>

