@model NATCABOSede.ViewModels.DatosKpiViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/utilities/kpis.css" />
}


<div class="container mt-3">
    <div class="row">
        <!-- Cliente Card -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Cliente</h5>
                    <p class="card-text fs-4">@Model.Cliente</p>
                </div>
            </div>
        </div>

        <!-- Producto Card -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Producto</h5>
                    <p class="card-text fs-4">@Model.Producto</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Estado del Pedido -->
<div class="card shadow-sm mt-3">
    <div class="card-body text-center">
        <h5 class="card-title">Estado del Pedido</h5>
        <div class="progress" style="height: 30px;">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: @Model.PorcentajePedido.ToString("F0")%;" aria-valuenow="@Model.PorcentajePedido.ToString("F0")" aria-valuemin="0" aria-valuemax="100">
                    @Model.PorcentajePedido.ToString("F0")%
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="row g-4">


    <!-- Columna central -->
    <div class="col-md-8">
        <!-- KPI Coste -->
        <div class="card text-white bg-warning shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title" style="font-weight: bold;">MOD</h5>
                <p class="display-5">@Model.CosteMOD.ToString("F2") €/Kg</p>
            </div>
        </div>

        <div class="row g-3 mt-3">
            <div class="col-6">
                <!-- Producción -->
                @* Coke: creado con propiedad PpmCardClass 11-01-25*@
                @* TODO: cambiar colores en función de ppm_obetivo verde > 10%> ppm_objetivo *@
                @* TODO: cambiar colores en función de ppm_obetivo amarillo entre<10% y >10% ppm_objetivo *@
                @* TODO: cambiar colores en función de ppm_obetivo rojo < 10% ppm_objetivo *@
                <div class="card text-white bg-success shadow-sm @Model.PpmCardClass">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">PPM</h5>
                        <p class="display-6">
                            <span class="kpi-MARCO">@Model.PPM.ToString("F2")</span>
                            (
                            <span class="kpi-MARCO">@Model.Ppm_5min.ToString("F2")</span>
                            )
                            <!--De momento, no mostramos el PPM del discriminador, al ser un cálculo complejo y para compara se puede emplear directamente PM-->
                            <!--/
                            <span class="kpi-Bizerba">@Model.PPM_Disc.ToString("F1")</span>-->
                        </p>

                        <h5 class="card-title">
                            <span class="kpi-MARCO">MARCO (5 min.)</span><!-- / <span class="kpi-Bizerba">Bizerba</span>-->
                        </h5>
                    </div>
                </div>
                <br />
                <div class="card text-white bg-success shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">PM</h5>
                        <!--<p class="display-6">@Model.PM.ToString("F2")/@Model.PM_Disc.ToString("F2")</p>-->
                        <p class="display-6">
                            <span class="kpi-MARCO">@Model.PM.ToString("F1")</span>
                            /
                            <span class="kpi-Bizerba">@Model.PM_Disc.ToString("F1")</span>
                        </p>
                        <h5 class="card-title">
                            <span class="kpi-MARCO">MARCO</span>  /  <span class="kpi-Bizerba">Bizerba</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- Extrapeso -->
                <div class="card text-white bg-danger shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">Extrapeso (Kg)</h5>

                        <!--<p class="display-6">@Model.ExtraPeso.ToString("F1")/@Model.ExtraPeso_Disc.ToString("F1")</p>-->
                        <p class="display-6">
                            <span class="kpi-MARCO">@Model.ExtraPeso.ToString("F1")</span>
                            /
                            <span class="kpi-Bizerba">@Model.ExtraPeso_Disc.ToString("F1")</span>
                        </p>
                        <h5 class="card-title">
                            <span class="kpi-MARCO">MARCO</span>  /  <span class="kpi-Bizerba">Bizerba</span>
                        </h5>
                    </div>
                </div>
                <br />
                <div class="card text-white bg-success shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">FTT (%)</h5>
                        <p class="display-6">
                            <span class="kpi-Bizerba">@Model.FTT.ToString("F0")</span>
                        </p>
                        <h5 class="card-title">
                            <span class="kpi-Bizerba">Bizerba</span>
                        </h5>
                    </div>
                </div>
            </div>

            
        </div>

        <!--DESECHO-->
        <div class="row g-3 mt-3">
            <!-- Kg Desecho -->
            <div class="col-md-6">
                <div class="card text-white bg-danger shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">Desecho (Kg)</h5>
                        <p class="display-6">
                            <span class="kpi-MARCO">@Model.PesoTotalDesperdicio.ToString("F1")</span>
                        </p>
                        <h5 class="card-title">
                            <span class="kpi-MARCO">MARCO</span>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- % Desecho -->
            <div class="col-md-6">
                <div class="card text-white bg-success shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">Desecho (%)</h5>
                        <p class="display-6">
                            <span class="kpi-MARCO">@Model.PorcentajeTotalDesperdicio.ToString("F1")</span>
                        </p>
                        <h5 class="card-title">
                            <span class="kpi-MARCO">MARCO</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Columna derecha -->
    <div class="col-md-4">
        <!-- Hora Inicio -->
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Hora Inicio</h5>
                <p class="card-text fs-4">@Model.HoraInicio.ToString("HH:mm")</p>
            </div>
        </div>

        <!-- Estado del Pedido -->
        <!--<div class="card shadow-sm mt-3">
            <div class="card-body text-center">
                <h5 class="card-title">Estado del Pedido</h5>
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: @Model.PorcentajePedido.ToString("F2")%;" aria-valuenow="@Model.PorcentajePedido.ToString("F2")" aria-valuemin="0" aria-valuemax="100">
                        @Model.PorcentajePedido.ToString("F2")%
                    </div>
                </div>
            </div>
        </div>-->

        <!-- Hora Fin Estimada -->
        <div class="card shadow-sm mt-3">
            <div class="card-body text-center">
                <h5 class="card-title">Hora Fin Estimada</h5>
                <p class="card-text fs-4">@Model.HoraFinAproximada.ToString("HH:mm")</p>
            </div>
        </div>
    </div>
</div>
