@model NATCABOSede.ViewModels.DatosKpiViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "KPIs Dashboard";
}


<!--*** OVERLAY ***-->
<div id="loading-overlay" class="loading-overlay" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!--***************-->


<div class="container mt-5">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <h1 class="text-center mb-4" id="titulo-dashboard">@ViewBag.NombreLineaSeleccionada - KPIs Dashboard</h1>

    <div class="mb-3">
        <label for="lineaSeleccionada" class="form-label">Selecciona una Línea:</label>
        <select id="lineaSeleccionada" name="lineaSeleccionada" class="form-select">
            @if (ViewBag.LineasDisponibles != null)
            {
                foreach (var linea in ViewBag.LineasDisponibles)
                {
                    <option value="@linea.IdLinea" @(ViewBag.LineaSeleccionada == linea.IdLinea ? "selected" : "")>
                        @linea.NombreLinea
                    </option>
                }
            }
        </select>
    </div>

    <div id="contenido-dashboard">
        <!-- Aquí se renderizará el contenido actualizado -->
        @await Html.PartialAsync("_KPIsPartial", Model)
    </div>
    <br>
    <p class="text-center text-muted" id="last-updated">Última actualización: @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</p> <!-- Placeholder -->
</div>

@section Scripts {
    <script>
        window.appSettings = {
            obtenerDatosUrlAction: '@Url.Action("ObtenerKPIs", "KPIS", new { area = "KPIS" })',
            obtenerLineasUrlAction: '@Url.Action("ObtenerLineas", "KPIS", new { area = "KPIS" })'
         
        };
    </script>
    <script src="~/js/KPIS.js"></script>
}
